#Ignora los archivos de cache generados por el compilador de python
**/*.pyc
**/*.pyo
**/__pycache__/

#Ignora la base de datos generada
concesiones.db

# Ignora las carpetas temporales
logs/
.DS_Store

#Ignora los archivos de cache generados en el manual
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.syntex.gz
*.toc

#Ignora los archivos de compilacion generados por NUITKA
main.spec
dist/
main.dist/
main.onefile-build/
build/
main.build/
*.logs
.cache/
Nuitka-*/